<p>pere works!</p>
<!-- <ul>
  <app-fils>
   <span prenomContent>John</span>
   <span nomContent>Wick</span>
  </app-fils>
  <app-fils>
    <span prenomContent>Barry</span>
   <span nomContent>Allen</span>
     </app-fils>
  <app-fils> 
     <span prenomContent>Peter</span>
   <span nomContent>Parker</span>
  </app-fils>
</ul> -->

<!-- <ul>
  <app-fils>
   <span>John Wick</span>
   <a href="">Link</a>
  </app-fils>
 
  <app-fils>
   <span>Barry Allen</span>
   <a href="">Link</a>
  </app-fils>  
  <app-fils>
   <span>Peter Parker</span>
   <a href="">Link</a>
  </app-fils>  
</ul> -->

<ul>
  <app-fils [ordre]="tab[0]" [villeNaissance]="nord"></app-fils>
  <app-fils [ordre]="tab[1]" [villeNaissance]="sud"></app-fils>
  <app-fils [ordre]="tab[2]" [villeNaissance]="capitale"></app-fils>
</ul>
