<!-- <p>fils works!</p>
<li>
  Je suis un fils
  <ng-content></ng-content>
</li> -->

<!-- La balise ng-content a un attribut select qui prend comme valeur : 
 - le nom d'un attribut dans le composant parent
 -->
<!-- <li>
  Je suis un fils : mon prenom est
  <ng-content select="[prenomContent]"></ng-content> et mon nom est
  <ng-content select="[nomContent]"></ng-content>
</li -->

<!--  - Le nom d'une classe CSS -->
<!-- <li>
  Je suis un fils : mon prenom est
  <ng-content select=".prenomContent"></ng-content> et mon nom est
  <ng-content select=".nomContent]"></ng-content>
</li>
 -->
<!--  Le nom d'une balise   -->
<li>Je suis le {{ ordre }}fils et suis de {{ villeNaissance }}</li>
