<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid center-align">
    <a class="navbar-brand">Session Angular</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Directives Angular
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="home">Directive ng</a>
            </li>
            <li><a class="dropdown-item" routerLink="adresse">Adresse</a></li>
            <li>
              <a class="dropdown-item" routerLink="stagiaire">Stagiaire</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" routerLink="calculatrice"
                >Calculatrice</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Formulaires
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="template-form"
                >Template Form</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="reactive-form"
                >Réactive Form</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Modules
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="voiture/voiture">Voiture</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="voiture/camion">Camion</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Personne
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="personne/personnes-list"
                >Liste Personne</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Interaction
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="pere">Père Component</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="fils">Fils Component</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="parent">Parent Component</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="child">Child Component</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Exercice Itéraction
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="developer">Developer</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="skill">Skill</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Rxjs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="observable">Observable</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="skill">Skill</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Materials UI
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="dashboard">Dashboard</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="dragdrop">Drap & Draop</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="navigation">Navigation</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tp
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="tp-correction"
                >Correction Tp</a
              >
            </li>
            <li><a class="dropdown-item" routerLink="tp">Tp</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Connection
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li *ngIf="!isConnected()" class="btn-outline-success">
            <a class="dropdown-item" routerLink="auth">Log-in</a>
          </li>
          <li *ngIf="isConnected()" class="btn-outline-danger">
            <a class="dropdown-item" (click)="logout()">Log-out</a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>

<<!-- nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="" alt="" class="logo" />
      </a>
      <span class="navabr-brand">Session Dropdown</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a class="nav-link item" href="">Link</a>
      </li>
      <li class="dropdown" dropdown>
        <a class="nav-link item" dropdownToggle role="button">
          DropDown <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a class="nav-link" style="color: #000" href=""></a>Action</li>
          <li>
            <a class="nav-link" style="color: #000" href=""></a>Another action
          </li>
          <li>
            <a class="nav-link" style="color: #000" href=""></a>Something else
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a class="nav-link" style="color: #000" href="">Separated link</a>
          </li>
          <li>
            <a class="nav-link" style="color: #000" href="">One link else</a>
          </li>
          <li></li>
          <li></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> -->

<router-outlet> </router-outlet>
