<div class="container">
    <div class="jumbotron">
        <h1>Reactive Formulaire</h1>
        <p class="lead"></p>
        <p class="lead"></p>
        <p class="lead"></p>
    </div>
    <div class="row">
        <div class="col-sm">
            <form [formGroup]="personneForm" (ngSubmit)="afficherTout()">
                <!--  Section Id  -->
                <div class="form-group">
                    <label for="id">Id:</label>
                    <input class="form-control" type="number" placeholder="Enter Id" name="id" formControlName="id" />
                </div>
                <div *ngIf="
            personneForm.controls['id'].invalid &&
            (personneForm.controls['id'].dirty ||
              personneForm.controls['id'].touched)
          " class="alert alert-danger">
                    <div *ngIf="personneForm.controls['id'].errors?.required">
                        L'identifiant est obligatoire
                    </div>
                </div>
                <!-- End Section id  -->
                <!--  Section Nom  -->
                <div class="form-group">
                    <label for="nom">Nom:</label>
                    <input class="form-control" type="text" placeholder="Enter LastName" name="nom" formControlName="nom" />
                </div>
                <div *ngIf="
            personneForm.controls['nom'].invalid &&
            (personneForm.controls['nom'].dirty ||
              personneForm.controls['nom'].touched)
          " class="alert alert-danger">
                    <div *ngIf="personneForm.controls['nom'].errors?.required">
                        Le nom est obligatoire
                    </div>

                    <div *ngIf="personneForm.controls['nom'].errors?.erreur">
                        Premiere lettre en majuscule
                    </div>
                </div>
                <!-- End Section Nom  -->
                <!--  Section Prénom  -->
                <div class="form-group">
                    <label for="prenom">Prenom:</label>
                    <input class="form-control" type="text" placeholder="Enter FirstName" name="prenom" formControlName="prenom" />
                </div>
                <div *ngIf="
            personneForm.controls['prenom'].invalid &&
            (personneForm.controls['prenom'].dirty ||
              personneForm.controls['prenom'].touched)
          " class="alert alert-danger">
                    <div *ngIf="personneForm.controls['prenom'].errors?.required">
                        Le prenom est obligatoire
                    </div>
                    <div *ngIf="personneForm.controls['prenom'].errors?.erreur">
                        Premiere lettre en majuscule
                    </div>
                </div>
                <!-- End Section Prénom  -->
                <!--  Section Adresse  -->
                <div formGroupName="adresse">
                    <h3>Adresse</h3>
                    <div class="form-group">
                        <label for="rue">Rue</label>
                        <input class="form-control" placeholder="Enter Street" name="rue" formControlName="rue" />
                    </div>
                    <div class="form-group">
                        <label for="ville">Ville</label>
                        <input class="form-control" placeholder="Enter City" name="ville" formControlName="ville" />
                    </div>
                    <div class="form-group">
                        <label for="codePostal">Code Postal</label>
                        <input class="form-control" placeholder="Enter ZipCode" name="codePostal" formControlName="codePostal" />
                    </div>
                </div>
                <!-- End Section Adresse  -->
                <button type="submit" class="btn btn-success" [disabled]="!personneForm.valid">
                    Envoyer
                </button>
                <hr />

                <div formArrayName="sports">
                    <h3 style="display: contents">Sports</h3>
                    <button class="btn btn-primary" type="button" (click)="ajouterSport()">
                        Ajouter Sport
                    </button>
                    <div *ngFor="let sport of sports.controls; let i = index">
                        <div [formControlName]="i">
                            <div class="form-group">
                                <label for="sports">Sports</label>
                                <textarea class="form-control"></textarea>
                                <button class="btn btn-danger" type="button" (click)="supprimerSport(i)">
                                Supprimer
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <div *ngFor="let personne of personnes">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Rue</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Code postal</th>
                        </tr>
                    </thead>
                    <tbody class="thead-dark">
                        <tr>
                            <td>{{ personne.id }}</td>
                            <td>{{ personne.nom }}</td>
                            <td>{{ personne.prenom }}</td>
                            <td>{{ personne.adresse.rue }}</td>
                            <td>{{ personne.adresse.ville }}</td>
                            <td>{{ personne.adresse.codePostal }}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngFor="let subItem of personne.sports; let i = index">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sport {{ i }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ subItem }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Damien
 <div class="container">
  <div class="jumbotron">
      <h1>Reactive Formulaire</h1>
      <p class="lead"></p>
      <p class="lead"></p>
      <p class="lead"></p>
  </div>
  <div class="row">
      <div class="col-sm">
          <form [formGroup]="personneForm" (ngSubmit)="afficherTout()">
              <div class="form-group">
                  <label for="id">Id:</label>
                  <input class="form-control" type="number" placeholder="Enter Id" name=id formControlName="id">
              </div>
              <div *ngIf="personneForm.controls['id'].invalid && (personneForm.controls['id'].dirty ||
              personneForm.controls['id'].touched)" class="alert alert-danger">
                  <div *ngIf="personneForm.controls['id'].errors?.required">
                      L'identifiant est obligatoire
                  </div>
              </div>
              <div class="form-group">
                  <label for="nom">Nom:</label>
                  <input class="form-control" type="text" placeholder="Enter LastName" name=nom formControlName="nom">
              </div>
              <div *ngIf="personneForm.controls['nom'].invalid && (personneForm.controls['nom'].dirty || personneForm.controls['nom'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="personneForm.controls['nom'].errors?.required">
                      Le nom est obligatoire
                  </div>
                  <div *ngIf="personneForm.controls['nom'].errors?.erreur">
                      Premiere lettre en majuscule
                  </div>
              </div>
              <div class="form-group">
                  <label for="prenom">Prenom:</label>
                  <input class="form-control" type="text" placeholder="Enter FirstName" name=prenom formControlName="prenom">
              </div>
              <div *ngIf="personneForm.controls['prenom'].invalid && (personneForm.controls['prenom'].dirty || personneForm.controls['prenom'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="personneForm.controls['prenom'].errors?.required">
                      Le prenom est obligatoire
                  </div>
                  <div *ngIf="personneForm.controls['prenom'].errors?.erreur">
                      Premiere lettre en majuscule
                  </div>
              </div>
              <div formGroupName="adresse">
                  <h3>Adresse</h3>
                  <div class="form-group">
                      <label for="rue">Rue:</label>
                      <input class="form-control" type="text" placeholder="Enter Street" name=rue formControlName="rue">
                  </div>
                  <div class="form-group">
                      <label for="ville">Ville:</label>
                      <input class="form-control" type="text" placeholder="Enter City" name=ville formControlName="ville">
                  </div>
                  <div class="form-group">
                      <label for="codePostal">Code Postal:</label>
                      <input class="form-control" type="text" placeholder="Enter ZipCode" name=codePostal formControlName="codePostal">
                  </div>
              </div>
              <button class="btn btn-success" type="submit" [disabled]="!personneForm.valid">Envoyer</button>
          </form>
      </div>
      <div class="col-sm">
          <div *ngFor="let personne of personnes;">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Nom</th>
                          <th scope="col">Prenom</th>
                          <th scope="col">Rue</th>
                          <th scope="col">Ville</th>
                          <th scope="col">Code Postal</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{ personne.id }}</td>
                          <td>{{ personne.nom }}</td>
                          <td>{{ personne.prenom }}</td>
                          <td>{{ personne.adresse.rue }}</td>
                          <td>{{ personne.adresse.ville }}</td>
                          <td>{{ personne.adresse.codePostal }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div> -->